.App {
  background: linear-gradient(#437eb6, #fff);
  min-width: 600px;
  max-width: 800px;
  min-height: 600px;
  max-height: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.my-nav {
  background-color: #437eb6;
  height: 100px;
  color: #fff;
  text-decoration: none;
  font-size: 32pt;
  font-family: 'Josefin Sans', 'sans-serif';
  justify-content: center;
  padding-top: 0%;
}

/* .my-forms {
}

.form-groups {
} */
